@{
    ViewBag.Title = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row justify-content-center">
        <main class="col-12 px-md-4 main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="d-flex flex-wrap mb-5">
                <div id="card-1" class="col-12 col-md-6 col-lg-4 resize p-2">
                    @Html.Action("ResizeCard", "Home")
                </div>

                <div id="card-2" class="col-12 col-md-6 col-lg-4 resize p-2">
                    @Html.Action("ImagenProducto", "Home")
                </div>

                <div id="card-3" class="col-12 col-md-6 col-lg-4 resize p-2">
                    @Html.Action("VentasPorAnio", "Home")
                </div>

                <div id="card-4" class="col-12 col-md-6 col-lg-4 resize p-2 overflow-auto">
                    @Html.Action("ProductosPorMarca", "Home")
                </div>

                <div id="card-6" class="col-12 col-md-6 col-lg-4 resize p-2">
                    @Html.Action("ImagenPorMarca", "Home")
                </div>

                <div id="card-5" class="col-12 col-md-6 col-lg-4 resize p-2 overflow-auto">
                    @Html.Action("ProductosPorCategoria", "Home")
                </div>

                <div id="card-7" class="col-12 col-md-6 col-lg-4 resize p-2 overflow-auto">
                    @Html.Action("ImagenMuestra", "Home", new { imgUrl = "https://via.placeholder.com/600/56a8c2" })
                </div>

                <div id="card-8" class="col-12 col-md-6 col-lg-4 resize p-2 overflow-auto">
                    @Html.Action("ImagenMuestra", "Home", new { imgUrl = "https://via.placeholder.com/600/54176f" })
                </div>
            </div>
        </main>
    </div>
</div>
<script src="~/Scripts/dashboard/dashboard.js"></script>
